<div class="d-flex justify-content-between align-items-center mb-3">
  <a [routerLink]="['']" class="text-muted">Voltar</a>
  <div>
    <a role="button" class="btn btn-warning text-white me-3" (click)="showEdit()">Alterar</a>
    <a role="button" class="btn btn-danger" (click)="destroy()">Apagar</a>
  </div>
</div>

<strong class="d-block" *ngIf="loading">Carregando...</strong>

<dialog class="rounded shadow" #editForm>
  <h2>Alterar Recomendação</h2>
  <app-recommendation-form [recommendationId]="recommendation.id"></app-recommendation-form>
</dialog>

<div *ngIf="!loading && recommendation">
  <div class="row">
    <div class="col-2">
      <img [src]="recommendation.image_url" class="card-img-top rounded shadow">
    </div>
    <div class="col-8">
      <h1 class="my-3">{{recommendation.name}}</h1>
      <div class="badge rounded-pill text-bg-primary mb-2">{{recommendation.category.name}}</div>
      <p class="card-text">{{recommendation.description }}</p>
    </div>
  </div>
</div>
