<div class="min-vh-100 bg-light">
  <div class="d-flex align-items-center justify-content-center min-vh-100 bg-dark">
    <div class="card shadow">
      <div class="card-body py-4">
        <h1 class="display-5 mb-3">Acesse sua conta</h1>
        <form [formGroup]="form">
          <div class="mb-3">
            <label for="email" class="form-label text-muted">E-mail</label>
            <input type="email" formControlName="email" class="form-control" placeholder="Digite seu e-mail">
          </div>

          <div class="mb-4">
            <label for="password" class="form-label text-muted">E-mail</label>
            <input type="password" formControlName="password" class="form-control" placeholder="Digite sua senha">
          </div>

          <button (click)="login()" class="btn btn-dark w-100">Fazer Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
